@CHARSET "ISO-8859-1";
*
{
	margin:auto;
	height:auto;
}
html
{
	margin:auto;
	height:auto;
}
body
{
	background-color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;	
} 

ul{
	list-style-type: none;
}
li
{
	float:left;
	padding-left:100px;
}
#header
{
	background-color:orange;
	border:1px solid black;
	margin-top:20px;
	margin-left:30px;
	margin-right:30px;
	width:auto;
	height:30px;
	padding-top:3px;
}
a
{
	text-decoration:none;
	color:white;
	border-radius:4px;
	width:50px;
	height:20px;
	text-align:center;
	
}
a:link 
{
    background-color:#FF704D;
}
 
a:hover 
{
    background-color:burlywood ;
}

a:active 
{
    background-color: #FF704D;
}
img.normal {
	
	clear:both;
	margin-top:10px;
	width:1010px;
    height:300px;
    margin-left:30px;
    margin-right:30px;
    border:2px solid black;
    border-radius:10px;
    border-shadow:20px;
}

.logo
{
	float:left;
	margin-top:20px;
	width:470px;
    height:200px;
    border:3px solid gray;
    border-radius:40px;
    margin-left:30px;
  
}
#content
{
	float:left;
	margin-top:10px;
	margin-left:190px;
	width:300px;
	height:150px;
	border:5px solid gray;
	border-radius:10px;
	border-shadow:5px;
	background-color:orange;
	padding:20px;
	padding-top:40px;
	color:white;

}

